In [1]:
import pandas as pd
import plotly.express as px

In [24]:
df = pd.read_csv('data.csv')
df

   qty    unit     ingr  carbs  fats  protein  kcal        date
0    1   large   banana   27.0   0.4      1.3   121  25.10.2023
1    1   large   banana   27.0   0.4      1.3   121  25.10.2023
2  100      gr     oats   66.0   8.0     17.0   389  25.10.2023
3    1   large   banana   27.0   0.4      1.3   121  24.10.2023
4    1   large   banana   27.0   0.4      1.3   121  24.10.2023
5  100      gr     oats   66.0   8.0     17.0   289  24.10.2023
6    1   large   banana   27.0   0.4      1.3   121  23.10.2023
7    1   large   banana   27.0   0.4      1.3   121  23.10.2023
8  100      gr     oats   66.0   8.0     17.0   589  23.10.2023

In [32]:
grouped_data = df.groupby('date').agg({
    'kcal': 'sum',
    'protein': 'sum',
    'fats': 'sum',
    'carbs': 'sum'
}).reset_index()

dates = grouped_data['date'].tolist()
kcals = grouped_data['kcal'].tolist()
proteins = grouped_data['protein'].apply(lambda x: x*4).tolist()
fats = grouped_data['fats'].apply(lambda x: x*9.1).tolist()
carbs = grouped_data['carbs'].apply(lambda x: x*4).tolist()

In [34]:
kcals

[831, 531, 631]

In [35]:
df2 = pd.read_csv('data/iwatch.csv')
df2

         date  kcal
0  23.10.2023  1174
1  24.10.2023   700
2  25.10.2023   800

In [36]:
df2.groupby('date')['kcal'].sum().tolist()

[1174, 700, 800]

In [8]:
round(26.3/100,4)

0.263

In [9]:
def cleanup_csv(api_response):
    lines = api_response.strip().split("\n")
    cleaned_lines = []

    expected_columns = 9  # Based on the example you provided.

    for line in lines:
        if len(line.split(",")) == expected_columns:
            cleaned_lines.append(line)

    return "\n".join(cleaned_lines)

api_response = """100g pistachios
qty,unit,ingr,carbs,fats,protein,net_carbs,fiber,kcal
100,g,pistachios,18,45,20,18,2,557"""

cleaned_response = cleanup_csv(api_response)
print(cleaned_response)

qty,unit,ingr,carbs,fats,protein,net_carbs,fiber,kcal
100,g,pistachios,18,45,20,18,2,557

In [12]:
import pandas as pd
ingredient_obj = {
    "qty":1,
    "unit":"g",
    "ingr":"d",
    "carbs":21,
    "fats":"21",
    "protein":21,
    "net_carbs":21,
    "fiber":2,
    "kcal":124
}
pd.DataFrame([ingredient_obj])

   qty unit ingr  carbs fats  protein  net_carbs  fiber  kcal
0    1    g    d     21   21       21         21      2   124